---
import { getCollection } from "astro:content";
import config from '../../config.mjs';
import Base from "../../layouts/Base.astro";
import Note from "../../components/notes/Note.astro";

export async function getStaticPaths({paginate}) {
    const noteEntries = (await getCollection('notes', ({ data }) => {
        return true;
    })).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    );

    return paginate(noteEntries, { pageSize: config.postsPerPage });
}

const { page } = Astro.props;
---
<Base postData={page}>
    <section class="container mx-auto max-w-screen-lg px-7 py-10">
        <div class="mx-auto prose lg:prose-xl prose-headings:font-bold prose-headings:text-pacamara-dark prose-headings:mb-3 pb-4">
            <h1 class="transition-all duration-300 dark:text-white">Notes</h1>
            <p class="flex flex-row flex-wrap gap-5 items-center font-pacamara-space mx-auto max-w-screen-lg mb-7">
                These are just some short (or not so short) notes form my personal vault and not intended to be a full blog posts. Maybe they are helpful for you, but could be that they aren't.
            </p>
        </div>

        {
            page.data.map((post, index) => {
                const numberOfNotes = page.data.length - 1;
                return <Note noteData={post} num={numberOfNotes - index} link={true} />;
            })
        }
        <div class="flex flex-row justify-center gap-7">
            {page.url.prev ? <a href={page.url.prev} class="text-[16px] bg-transparent border-pacamara-secondary border-[1px] leading-none rounded-full py-3 px-5 text-pacamara-secondary hover:bg-pacamara-accent hover:border-pacamara-accent hover:text-pacamara-white transition-all duration-300">Previous</a> : null}
            {page.url.next ? <a href={page.url.next} class="text-[16px] bg-transparent border-pacamara-secondary border-[1px] leading-none rounded-full py-3 px-5 text-pacamara-secondary hover:bg-pacamara-accent hover:border-pacamara-accent hover:text-pacamara-white transition-all duration-300">Next</a> : null}
        </div>
    </section>
</Base>